@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  background-color: #A8DADC;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #A8DADC;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#A8DADC, #F1FAEE);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #A8DADC;
}

@media only screen and (max-width: 992px) {
  .reduce-hero {
    padding: 8rem !important;
    text-align: center;
  }
  .w-75 {
    width: 75% !important;
  }
  .w-85 {
    width: 85% !important;
  }
  .w-100 {
    width: 100% !important;
  }
  .w-95 {
    width: 95% !important;
  }
  .w-0 {
    width: auto !important;
  }
  .text-align {
    font-size: 1.8rem !important;
    font-weight: 700 !important;
    align-items: center !important;
    display: flex !important;
    padding: 0 !important;
  }
  .t-align-1 {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center !important;
    padding: 2px !important;
  }
  .t-align-2 {
    padding: 2.5rem !important;
  }
  .col-0 {
    -moz-column-gap: 0px !important;
         column-gap: 0px !important;
  }
  .w-adjust {
    width: 40% !important;
  }
  .translate-0 {
    transform: translateX(0) !important;
  }
  .justify {
    align-items: center !important;
  }
  .font-w {
    font-weight: 500 !important;
  }
  .font-s {
    font-size: 4rem !important;
  }
  .c-sm-1 {
    display: flex !important;
    width: 100% !important;
  }
  .column-sm {
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    font-size: 1rem;
  }
  .row-sm {
    display: flex !important;
    width: 100% !important;
    justify-content: space-evenly;
    flex-direction: row !important;
  }
  .head-sm {
    font-size: 1rem;
    width: 50% !important;
  }
  .mr-auto {
    margin-right: auto !important;
  }
  .column-sm-reverse {
    display: flex !important;
    width: 100% !important;
    flex-direction: column-reverse !important;
  }
  .center {
    justify-content: center !important;
  }
  .even_sm {
    justify-content: space-evenly !important;
  }
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  .text-center {
    text-align: center !important;
  }
  .h-adjust {
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .m-0 {
    margin: 0px !important;
  }
  .p-1 {
    padding: 0 2rem !important;
    font-size: 3rem !important;
    font-weight: 700 !important;
  }
  .img-w {
    border-radius: 0% !important;
    width: 20rem !important;
    height: 20rem !important;
    border: none !important;
    box-shadow: 2px 5px 10px #f1faee !important;
    border-radius: 10px !important;
  }
  .m-width {
    max-width: -moz-max-content !important;
    max-width: max-content !important;
  }
  .newsletter-margin {
    margin: 4rem 4rem 0 !important;
  }
  .p-0 {
    padding: 0rem !important;
  }
  .p-sm {
    padding: 1.8rem !important;
  }
  .mb-sm {
    margin-bottom: 4rem !important;
  }
  .mb-xs {
    margin-bottom: 1rem !important;
  }
  .mt-sm {
    margin-top: 4rem !important;
  }
  .video-sm {
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin: auto !important;
  }
  .footer-sm {
    border-top-right-radius: 0rem !important;
    padding-right: 0rem !important;
    padding: 4rem !important;
  }
  .links-sm {
    width: 100% !important;
    justify-content: space-evenly !important;
    line-height: 3.5rem !important;
  }
  .links_wrapper {
    width: 100% !important;
    display: flex !important;
  }
  .font-reduce {
    font-size: small !important;
    font-weight: normal !important;
  }
  .bold {
    font-weight: 800 !important;
  }
  .cause-img {
    padding: 0rem !important;
    margin: 0 0 4rem 0 !important;
  }
}
@media only screen and (min-width: 992px) {
  .hide-lg {
    display: none !important;
  }
}
@media screen and (max-width: 540px) {
  .links_wrapper {
    width: 100% !important;
    display: block !important;
  }
}
@media screen and (width: 280px) {
  .footer .socials a {
    margin-right: 2rem !important;
  }
  .project_card .card_head img {
    width: 95% !important;
  }
  .cause_hero__text h1 {
    font-size: 3rem !important;
  }
  .was h1 {
    font-size: 3rem !important;
    font-weight: 500 !important;
  }
  .mission_head {
    width: 87% !important;
  }
  .mission_head .goal_list {
    width: 100% !important;
  }
  .hero h1 {
    font-size: 10rem !important;
  }
  .hero h1 b {
    font-size: 12rem !important;
  }
  .hero h2 {
    font-size: 1.5rem !important;
    flex-direction: row !important;
  }
  .hero q {
    width: 200% !important;
  }
  .projects .project_img {
    display: none !important;
  }
  .copy-link {
    margin: 2rem 2rem !important;
  }
  .copy-link .copy-link-input {
    width: 40% !important;
  }
  .was h1 {
    font-size: 2rem !important;
    letter-spacing: 0rem !important;
  }
  .was h1 em {
    font-size: 2.5rem !important;
  }
  .profile_img {
    border-radius: 50% !important;
    box-shadow: none !important;
    margin-top: -5rem !important;
  }
  .profile_img img {
    border-radius: 50% !important;
  }
  .profile_text h2 {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
  }
  .profile_text b {
    font-size: 1.5rem !important;
  }
  .profile_text img {
    display: flex !important;
    width: 30% !important;
  }
  .testimony {
    padding: 2rem !important;
  }
  .testimony_text {
    margin-top: 1rem !important;
  }
}
.row-reverse {
  flex-direction: row-reverse !important;
}

.ml-auto {
  margin-left: auto;
}

.mb {
  margin-bottom: 3rem !important;
}

.header {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  background-color: #a8dadc;
  align-items: center;
  padding: 1rem 2rem 1rem 0rem;
}
.header img {
  padding-left: 2rem;
}
.header .fa-bars::before {
  font-size: 3rem;
}
.header .links {
  display: flex;
  font-size: 1rem;
  justify-content: space-evenly;
  width: 60%;
}
.header .links li {
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: #040b13;
  text-shadow: 0px 0px 0px #040b13;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.header .links li:hover {
  color: #f1faee;
  text-shadow: 2px 3px 2px #8adadd;
}
.header .links .active {
  color: #f1faee !important;
  text-shadow: 1px 1px 4px #040b13;
}
.header .brand {
  height: 8rem;
  width: auto;
}
.header .cause_btn {
  cursor: pointer;
  background-color: #040b13;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  padding: 2rem;
  border-radius: 3rem;
  letter-spacing: 0.05em;
  color: white;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease-in;
}
.header .cause_btn:hover {
  background: #e5f4ec;
  color: #040b13;
  text-shadow: 2px 2px 2px #c3c9c9;
  font-weight: 700;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10rem;
  position: relative;
  background-color: #e5f4ec;
}
.hero h1 {
  font-size: 12rem;
  color: #a7dadc;
}
.hero h1 b {
  color: #040b13;
  font-size: 16rem;
}
.hero h2 {
  font-size: 5rem;
  margin-top: -4rem;
  margin-bottom: 4rem;
}
.hero q {
  font-size: 2rem;
}

.intro {
  display: flex;
}
.intro .intro_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.intro .intro_text h2 {
  padding: 4rem;
  font-size: 3rem;
  font-weight: lighter;
}
.intro .intro_text h2 b {
  font-weight: bolder;
  font-size: 4rem;
}
.intro .intro_img {
  width: 50%;
}
.intro .intro_img img {
  width: 100%;
  height: auto;
}

.mission {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}
.mission .mission_head {
  display: flex;
  justify-content: space-between;
}
.mission .mission_head .mission_heading {
  background-color: #5f6768;
  font-size: 3rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1faee;
  font-weight: lighter;
}
.mission .mission_head .goal_list {
  width: 50%;
  justify-content: space-between;
  display: flex;
}
.mission .mission_head .goal_list .goal_card {
  display: flex;
  flex-direction: column;
  background-color: #040b13;
  border-right: solid 1px #f1faee;
  padding: 2rem;
  width: 33.3%;
  text-align: center;
}
.mission .mission_head .goal_list .goal_card h4 {
  font-size: 1.2rem;
  color: #a8dadc;
}
.mission .mission_head .goal_list .goal_card h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #a8dadc;
}
.mission .mission_text {
  background-color: #a8dadc;
  padding: 2.5rem;
  padding-right: 6rem;
}
.mission .mission_text p {
  color: #040b13;
  line-height: 3rem;
  font-size: 1.6rem;
}
.mission .mission_text .was_button {
  border: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: transparent;
  padding: 2rem;
  margin-top: 2rem;
  letter-spacing: 0.1em;
  float: right;
  font-size: 1.5rem;
}

.projects {
  display: flex;
  padding: 2rem;
  width: 95%;
  margin: 0 auto;
  margin-top: 4rem;
  box-shadow: #a8dadc 1.95px 1.95px 2.6px;
}
.projects .project_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: solid 1px #a8dadc;
}
.projects .project_text {
  width: 50%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .project_text h2 {
  color: #f1faee;
  background-color: #8adadd;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.projects .project_text h3 {
  font-size: 4rem;
  font-weight: bolder;
}
.projects .project_text p {
  font-size: 3rem;
  font-weight: lighter;
}
.projects .project_text button {
  border: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: transparent;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

.copy-link {
  --height: 5rem;
  display: flex;
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.copy-link .copy-link-button:hover {
  background: #a8dadc;
}
.copy-link .fa-link {
  margin-left: 1rem;
}
.copy-link .copy-link-input {
  flex-grow: 1;
  padding: 2rem;
  font-size: 2rem;
  border: 1px solid #cccccc;
  border-right: none;
  background-color: #eeeeee;
  outline: none;
  border: none;
}
.copy-link .copy-link-input:hover {
  background: #eeeeee;
}
.copy-link .copy-link-button {
  flex-shrink: 0;
  padding: 2rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8adadd;
  color: #f1faee;
  font-size: 1.8rem;
  font-weight: lighter;
  outline: none;
  border: none;
  cursor: pointer;
}

.contact {
  display: flex;
  margin-top: 10rem;
  padding: 5rem;
}
.contact .contact_form {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  border: 3px solid #e5f4ec;
  border-radius: 1rem;
}
.contact .contact_form h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  letter-spacing: 0.1em;
}
.contact .contact_form input {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 1rem;
  transition: 0.3s ease;
  color: black;
}
.contact .contact_form input:focus-visible {
  border: 1px solid #a8dadc;
  box-shadow: #e5f4ec 2px 2px 1.95px inset, #e5f4ec -2px -2px 1.95px inset;
}
.contact .contact_form textarea {
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 70%;
  height: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 0.5rem;
  resize: none;
}
.contact .contact_form textarea:focus-visible {
  border: 1px solid #a8dadc;
  box-shadow: #e5f4ec 2px 2px 1.95px inset, #e5f4ec -2px -2px 1.95px inset;
}
.contact .contact_form textarea::-moz-placeholder {
  color: black;
}
.contact .contact_form textarea::placeholder {
  color: black;
}
.contact .contact_form button {
  margin-top: 2rem;
  padding: 2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #8adadd;
  font-size: 3rem;
  width: 70%;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.contact .contact_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  position: relative;
}
.contact .contact_img img {
  width: 50%;
  height: auto;
}
.contact .contact_img .image1 {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: -10;
}
.contact .contact_img .image3 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: -10;
}

.footer {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  width: 100%;
  padding: 4rem;
  background-color: #040b13;
  color: #f1faee;
  border-top-right-radius: 20rem;
  padding-right: 15rem;
  margin-top: 6rem;
}
.footer .links_wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .links_wrapper .footer_links {
  display: flex;
  flex-direction: column;
}
.footer .links_wrapper .footer_links h2 {
  color: #8adadd;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}
.footer .links_wrapper .footer_links a {
  margin-bottom: 0.5rem;
  font-weight: bold;
  transition: 0.5s ease-in;
}
.footer .links_wrapper .footer_links a:hover {
  color: #8adadd;
  text-decoration: underline;
  text-decoration-color: #8adadd;
}
.footer .newsletter {
  display: flex;
  margin-left: auto;
  height: 5rem;
  margin-top: 4rem;
  margin-top: 4rem;
}
.footer .newsletter input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 1.6rem;
  padding: 2rem;
  height: inherit;
}
.footer .newsletter button {
  height: inherit;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-top-right-radius: 1rem;
  background-color: #8adadd;
  color: #040b13;
  border-bottom-right-radius: 1rem;
}
.footer .socials {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}
.footer .socials a {
  margin-right: 6rem;
  font-size: 2.5rem;
  color: #a8dadc;
}
.footer .socials a:last-child {
  margin-right: 0rem;
}
.footer .socials a i {
  transition: 0.4s ease-in;
}
.footer .socials a i:hover {
  color: #f1faee;
  transform: scale(200%);
  text-shadow: -2px -2px 10px #8adadd;
}

.carousel {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
}
.carousel .splide__slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.was {
  text-align: center;
  margin-top: 4rem;
}
.was h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: lighter;
}
.was h1 b {
  color: #a8dadc;
  font-size: 6rem;
}
.was h1 em {
  font-weight: bold;
  font-style: normal;
  font-size: 5rem;
}
.was h1 I {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
}

.was_alt {
  text-align: center;
  margin-top: 4rem;
}
.was_alt h1 {
  font-size: 5rem;
  font-weight: lighter;
}
.was_alt h1 b {
  color: #a8dadc;
  font-size: 6rem;
}
.was_alt h1 em {
  font-weight: bold;
  font-style: normal;
  font-size: 5rem;
}
.was_alt h1 I {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}
.testimonials .testimony {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #a8dadc;
  padding: 4rem;
  width: 75%;
  border-radius: 1rem;
  margin-bottom: 10rem;
}
.testimonials .testimony .testimony_head {
  display: flex;
  justify-content: space-between;
}
.testimonials .testimony .testimony_head .profile_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 2rem;
}
.testimonials .testimony .testimony_head .profile_text h2 {
  font-size: 2rem;
  font-weight: lighter;
}
.testimonials .testimony .testimony_head .profile_text b {
  font-size: 2.5rem;
  font-weight: bolder;
}
.testimonials .testimony .testimony_head .profile_text img {
  width: 10rem;
  height: auto;
  margin-top: 2rem;
}
.testimonials .testimony .testimony_head .profile_img {
  margin-top: -10rem;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1.2rem solid #f1faee;
}
.testimonials .testimony .testimony_head .profile_img img {
  width: 100%;
  min-height: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .testimony .testimony_text {
  margin-top: 4rem;
}
.testimonials .testimony .testimony_text p {
  font-size: 1.8rem;
}

.faq {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Style the buttons that are used to open and close the accordion panel */
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the accordion panel. Note: hidden by default */
}
.faq .accordion {
  background-color: #f1faee;
  color: #040b13;
  cursor: pointer;
  padding: 3rem;
  width: 85%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 2rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.219);
}
.faq .active,
.faq .accordion:hover {
  background-color: #f1faee;
}
.faq .panel {
  background-color: #a8dadc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 85%;
  font-size: 1.8rem;
}
.faq .panel p {
  padding: 2rem;
}
.faq .accordion:after {
  content: "+"; /* Unicode character for "plus" sign (+) */
  font-size: 3rem;
  color: #777;
  float: right;
  margin-left: 5px;
}
.faq .active:after {
  content: "−"; /* Unicode character for "minus" sign (-) */
  font-size: 3rem;
}

.video_intro {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 4rem;
}
.video_intro .video {
  width: auto;
  height: 60rem;
}

.project_card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 75%;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 10rem;
  box-shadow: #e5f4ec 2px 2px 1.95px inset, #e5f4ec -2px -2px 1.95px inset;
}
.project_card .card_head {
  text-align: center;
  height: 12rem;
}
.project_card .card_head img {
  height: 100%;
  width: auto;
}
.project_card .card_text {
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.6rem;
  background-color: #a8dadc;
}

.projects_btn {
  border: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  outline: none;
  background-color: #a8dadc;
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
}
.projects_btn i {
  margin-left: 2rem;
}

.upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.upcoming__project {
  width: 75%;
  text-align: center;
  padding: 4rem;
  background-color: #c3c9c9;
  color: #040b13;
  margin-bottom: 4rem;
  padding: 6rem 1rem 6rem 1rem;
}
.upcoming__project h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.upcoming__project p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.upcoming__project button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  outline: none;
  background-color: #5f6768;
  padding: 1rem 2rem 1rem 2rem;
  color: #f1faee;
  font-size: 2rem;
  letter-spacing: 0.1em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  border: none;
}
.upcoming__project button i {
  margin-left: 2rem;
}

.inquiry {
  margin: 0 auto;
  font-size: 2rem;
  padding: 0 30rem;
  color: #040b13;
  text-align: center;
}

.donate_hero {
  display: flex;
  padding: 3rem;
}
.donate_hero__text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate_hero__text h1 {
  font-size: 4rem;
  font-weight: lighter;
}
.donate_hero__text h1 b {
  font-weight: bold;
  font-size: 8rem;
}
.donate_hero__text h1 em {
  font-style: normal;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.donate_hero__img {
  width: 50%;
}
.donate_hero__img img {
  width: 100%;
  height: auto;
}

.tagline {
  padding: 5rem 10rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #a8dadc;
  font-size: 2.5rem;
  font-weight: lighter;
  border-radius: 1rem;
}
.tagline b {
  font-weight: bold;
}

.donate_project_card {
  display: flex;
  width: 65%;
  border-radius: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 10rem;
  box-shadow: #e5f4ec 2px 2px 1.95px inset, #e5f4ec -2px -2px 1.95px inset;
}
.donate_project_card .card_head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.donate_project_card .card_head img {
  height: auto;
  width: 100%;
}
.donate_project_card .donate_card_text {
  width: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem;
  background-color: #a8dadc;
}
.donate_project_card .donate_card_text p {
  padding: 3rem;
  font-size: 2.4rem;
}
.donate_project_card .donate_card_text p b {
  font-size: 4rem;
}

.donate_projects_btn {
  border: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  outline: none;
  background-color: #a8dadc;
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 0rem;
}
.donate_projects_btn i {
  margin-left: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #a8dadc;
  padding: 4rem;
  border-radius: 1rem;
  margin: 0 auto;
}
.form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.432);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.form span {
  display: flex;
  justify-content: space-between;
}
.form span input {
  width: 45%;
}
.form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  outline: none;
  background-color: #040b13;
  color: #f1faee;
  padding: 2rem 8rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 0rem;
}
.form button i {
  margin-left: 2rem;
}

.cause_hero {
  display: flex;
  padding: 3rem;
  flex-direction: column;
}
.cause_hero__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cause_hero__text h1 {
  font-size: 4rem;
  font-weight: lighter;
}
.cause_hero__text h1 b {
  font-weight: bold;
  font-size: 8rem;
}
.cause_hero__text h1 em {
  font-style: normal;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.cause_hero__img {
  padding: 15rem;
  margin-top: -10rem;
}
.cause_hero__img img {
  width: 100%;
  height: auto;
}

.cause_inquiry {
  margin: 0 auto;
  font-size: 2rem;
  padding: 0 10rem;
  line-height: 3rem;
  color: #040b13;
  text-align: center;
  margin-top: -6rem;
}

.causes {
  display: flex;
  flex-direction: column;
}
.causes .cause_card {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.causes .cause_card__head {
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.causes .cause_card__head h2 {
  padding: 2rem;
  text-align: center;
}
.causes .cause_card__text p {
  padding: 2rem;
  font-size: 1.6rem;
  background-color: #a8dadc;
}
.causes .cause_card__text button {
  border: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  outline: none;
  background-color: #f1faee;
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
}
.causes .cause_card__text button i {
  margin-left: 2rem;
}

.cause_tagline {
  padding: 5rem 10rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #c3c9c9;
  font-size: 1.8rem;
  font-weight: lighter;
  border-radius: 1rem;
  text-align: center;
  color: #5f6768;
}
.cause_tagline b {
  font-weight: bold;
}

.menu_overlay {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 0vw;
  background-color: #e5f4ec;
  transition: ease-in-out 0.5s;
  z-index: 100000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #040b13;
}
.menu_overlay i {
  position: absolute;
  top: 3.5rem;
  right: 2.3rem;
  font-size: 3rem;
}
.menu_overlay a > li {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-shadow: 1px 1px 4px #a8dadc;
  position: relative;
}
.menu_overlay .active {
  text-shadow: 0px 0px 0px #a8dadc;
}
.menu_overlay .active::after {
  position: absolute;
  content: "👨‍👦‍👦";
  top: -1.5rem;
  right: -4rem;
}
.menu_overlay .donate_btn {
  background-color: #a8dadc;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  padding: 2rem;
  font-family: "Poppins";
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  color: white;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease;
}
.menu_overlay .donate_btn:hover {
  background-color: #a8dadc;
  color: #a8dadc;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: #a8dadc 0px 1px 5px;
}

.menu_open {
  height: 100vh;
  width: 100vw;
}/*# sourceMappingURL=style.css.map */